<html>
<head>
	<title>Momont</title>
	    <style>
	        html {
	            background: url(http://upload.wikimedia.org/wikipedia/commons/e/e5/Chrysler_Building_Midtown_Manhattan_New_York_City_1932.jpg) no-repeat center center fixed; 
	            -webkit-background-size: cover;
	            -moz-background-size: cover;
	            -o-background-size: cover;
	            background-size: cover;
	        }

	        body {
	            background: transparent;
	        }
        </style>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Momont</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<div class="container">
		<div>
			<table>
				<tr>
					<th>Owner</th>
					<th>Number</th>
				</tr>

				<% @phone_numbers.each do |article| %>
					<tr>
						<td><%= article.owner %></td>
						<td><%= article.number %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div><!-- /.container -->
</body>
</html>